.descripInicio {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px auto; 
    background-color: #fff;
    width: 80%; 
    max-width: 900px; 
    text-align: center; 
}

.descripInicio h2, .descripInicio h3 {
    margin: 0;
    padding: 8px 0;
}

.descripInicio h2 {
    font-size: 24px;
    color: #333;
}

.descripInicio h3 {
    font-size: 16px;
    color: #666;
}
